<ng-container *ngIf="(!isAuthenticated && (user == null)); then oktaContainer; else loadSpinner"></ng-container>
   <ng-template #oktaContainer>
        <div class="overlay">
            <div class="container h-100">
                <div class="row h-25 justify-content-center align-items-center"> 
                    <div class="title">{{title}}</div>
                </div>
                <div id="okta-login-container"></div>
                <div class="col-sm-12 row justify-content-center align-items-center"> 
                    <img [src]='imagePath' class="logo"/></div>
            </div>
        </div>
   </ng-template>
   <ng-template #loadSpinner>
        <i class="fa fa-spinner fa-pulse spinButton" aria-hidden="true"></i>
   </ng-template>

