
.container-fluid{
    padding-top: 15px;
    height:auto;
}

input[type=text], textarea , select.form-control {
    border : 1px solid #5dbfd4;
    outline: none !important;
}

input:focus, textarea:focus , select.form-control:focus{
    outline: none !important;
    box-shadow:  #5dbfd4;
    border : 2px solid #5dbfd4;
}

 .form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    font-family: 'FontAwesome';
    font-weight: normal;
} 

 input.has-error, textarea.has-error, select.form-control.has-error{
    color: #d00;
    outline: none !important;
    border: 1px solid rgba(255, 0, 0, 0.884);
}



