/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

#okta-login-container {
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 300px;
    border: 1px solid silver;
    padding: 20px;
    /* box-shadow: 5px 5px 5px 0 silver; */
  }
  
  .okta-form-title {
    /* color:white; */
    /* text-align: center; */
    font-size: 15px;
}

.custom-checkbox{
  /* color:white; */
  font-size: 10px;
}

  @media (min-width: 544px) {  
    #okta-login-container {max-width: 350px;}
    .okta-form-title { font-size: 20px;}
    .custom-checkbox{ font-size: 15px};
  }
  @media (min-width: 768px) {  
    #okta-login-container {max-width: 380px;}
  }
  @media (min-width: 992px) {  
    #okta-login-container {max-width: 400px;}
  }
  @media (min-width: 1200px) {  
    /* #okta-login-container{max-width: 425px;} */
    .okta-form-title { font-size: 25px;} 
  }

  .none{
    background-color: whitesmoke;
  }
  
  #okta-login-container input {
    border-radius: 4.5px;
    border : 1px solid #5dbfd4 !important;
    outline: none !important;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }

  
  #okta-login-container input[type=checkbox] {
    outline: none !important;
    border : 1px solid #5dbfd4 !important;
    width: 25px;
  }
  
  .okta-form-input-error{
      color: red;
  }
  .okta-form-infobox-error{
    color: red;
    font-size:15px;
  }

  #okta-signin-submit{
    border-radius: 4.5px;
    /* border-bottom-right-radius: 4.5px; */
    background-color: #5dbfd4;
    color:white;
    font-weight: bold;
  }
  /* .o-form-button-bar{
    background-color: #5dbfd4;
}  */
  
body{
    font-family: "Roboto","Helvetica Neue","sans-serif"; 
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    background-color: whitesmoke;   
}

button:focus{
    outline:none;
}

.display-error{
    color:rgba(255, 0, 0, 0.884);
  }

  .btn:disabled  {
    opacity: 0.65; 
    cursor: not-allowed;
  }

  .form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    font-family: 'FontAwesome';
    font-weight: normal;
}

input[type=text],input[type=file],textarea { 
    border : 1px solid #5dbfd4 !important;
    outline: none !important;
}

input:focus, textarea:focus {
    outline: none !important;
    box-shadow:  #5dbfd4 !important;
    border : 2px solid #5dbfd4;
}

input.has-error, textarea.has-error, select.has-error{
    color: #d00;
    outline: none !important;
    border: 1px solid rgba(255, 0, 0, 0.884) !important;
}

select{
    border : 1px solid #5dbfd4 !important;
}

select.form-control:focus{
    border : 1px solid #5dbfd4 !important;
}

select.form-control:disabled{
    color : black !important;;
}

.input-icon{
    position: absolute;
    left: 3px;
    top: calc(60% - 0.5em); /* Keep icon in center of input, regardless of the input height */ 
    padding-right: 17px;
    padding-left: 17px;
}

.input-wrapper{
    position: relative;
  }

  .fa-search{
    display: inline-flex;
    vertical-align: middle;
    color: #5dbfd4;
}

addButton {
    /* position: absolute;
    right: 50px;
    margin-top:30px; */
    margin-left: auto;
    text-align: right;
    /* margin-top:30px; */
}

@media only screen and (min-width: 736px) {
    addButton{
        margin-top:30px !important;
    }
}

searchTab{
    padding:5px 0px;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

.mat-table {
    overflow: auto;
    max-height: 700px;
    background-color: whitesmoke !important;
  }

.mat-paginator{
    background-color: whitesmoke !important;
    font-size: 14px;
    color:#253746;    
}

.mat-header-row{
    background-color: #394a57 !important;
}

.mat-header-cell, .mat-header-cell-def{
    color: white !important;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 800 !important;
    position: sticky;
    z-index: 1;
}

mat-column-action {
    flex: 0 0 200px;
}

.mat-cell{
    color:#253746;
}

mat-row:hover {
    background-color:#e9e9e9;
}

.mat-input-underline.mat-form-field-underline{
    width: 0 !important;
}

.mat-form-field-infix{
    width:500px !important;
}

.mat-input-placeholder{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding-left : 50px;
    font-size : 20px;
    text-align:left;
    top: calc(60% - 0.5em);
}

@media only screen and (max-width: 736px) and (orientation:portrait) {
    mat-header-row, mat-row {
      width: 200%;
    }
    .mat-header-cell{
        font-size: 14px !important;
    }
}

.Action-Tab {
    width:90px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    background-color: #5dbfd4;
    border: solid 1px #5dbfd4;
    color: #ffffff !important;
    /* margin-top:5px; */
    /* margin-bottom : 5px; */
}

/* add/edit form styling*/
.form-container-fluid{
    padding-top: 30px;
    height:auto;
}
.field-heading{
    font-weight: bolder;
}

label{
    font-weight: bolder;
}

/* form buttons */
.submitButton, .backButton, .resetButton {
    display: inline-block;
    margin-left:10px ;
    font-weight: bold;
}

.resetButton {
    background-color:#253746;  
    color:white;
}

.exportButton{
    margin-bottom: 50px;
}

.alert-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.overlay{
    background-color: #253746;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px; 
}

.splash{
    width:100%;
    height:100%;
}

.spinButton{
    display: block;
    margin : 0 auto;
    position: fixed;
    top: 50%;
    left:50%;
    font-size:60px;
    color: #253746;
}

@media (min-width: 544px) {  
    .spinButton{font-size:50px;}
  }
  @media (min-width: 768px) {  
    .spinButton{font-size:60px;}
  }
  @media (min-width: 992px) {  
    .spinButton{font-size:80px;}
  }
  @media (min-width: 1200px) {  
    .spinButton{font-size:100px;}
  }

.btn-group{
    margin-top:5px;
    margin-bottom : 5px;
}
