<div class="container-fluid">
    <div class="row">
        <searchTab [tableData] = "equipment" (searchValue)="displayFilter($event)"></searchTab>
          <addButton [nextPageLink]= "nextPageLinkValue">
            <ng-container>Add New Equipment</ng-container>
          </addButton>
      </div>
  <div class="table-container" #TABLE> 
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="equipmentname" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="equipmentname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Name </mat-header-cell>
        <mat-cell *matCellDef="let equipment"> {{equipment.equipmentname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="equipmentPartNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header
        >Part Number </mat-header-cell>
        <mat-cell *matCellDef="let equipment"> {{equipment.equipmentPartNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef >Description</mat-header-cell>
        <mat-cell *matCellDef="let equipment"> {{equipment.description}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="equipmentType.equipmentType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Type </mat-header-cell>
        <mat-cell *matCellDef="let equipment">{{equipment.equipmentType.equipmentType}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let equipment">
            <a class="btn Action-Tab" [routerLink]="['/admin/equipment/edit/',equipment.equipmentID]" 
              [queryParams]="{name:equipment.equipmentType.equipmentTypeID}">Edit</a>&nbsp;&nbsp; 
            <a class="btn Action-Tab" (click)="deleteEquipmentDetails(equipment.equipmentID)">Delete</a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let equipment; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50,100]"></mat-paginator>
  </div>
  <button type ="button" mat-raised-button class="exportButton" color="primary" (click)="exportData()">Export as Excel</button>
</div>